<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  <servlet-name>Add</servlet-name>
  <servlet-class>com.jsp.Servlet.AddMobile</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>Update</servlet-name>
  <servlet-class>com.jsp.Servlet.UpdateMobile</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>Delete</servlet-name>
  <servlet-class>com.jsp.Servlet.DeleteMobile</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>Display-All</servlet-name>
  <servlet-class>com.jsp.Servlet.DisplayAllData</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Add</servlet-name>
  <url-pattern>/add-mobile</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>Update</servlet-name>
  <url-pattern>/update-mobile</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  
 <servlet-name>Delete</servlet-name> 
 <url-pattern>/deletemobile</url-pattern>
 </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>Display-All</servlet-name>
  <url-pattern>display-all</url-pattern>
  </servlet-mapping>
  
</web-app>
